@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --color-one: #f78c1d;
  --color-two: #509dd2;
  --color-three: #ff4a16;
  --color-four: #00b64f;
  --color-five: #343434;

  --color-one-faded-20: rgba(247, 140, 29, 0.1);
  --color-two-faded-20: rgba(80, 157, 210, 0.1);
  --color-three-faded-20: rgba(255, 74, 22, 0.1);
  --color-four-faded-20: rgba(0, 182, 79, 0.1);

  --text-color: black;
  --border-color: black;
  --color-neutral: white;

  --color-header-bg: #343434;

  --padding-tiny: 7px;
  --padding-small: 14px;
  --padding-large: calc(var(--padding-small) * 2);

  --content-color-main: var(--color-one);
  --content-color-faded: var(--color-one-faded-20);
}

@font-face {
  font-family: wotfard;
  src: url(/assets/fonts/wotfard-regular-webfont.woff2);
}

body {
  font-family: wotfard;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

*[data-ctheme='two'] {
  --content-color-main: var(--color-two);
  --content-color-faded: var(--color-two-faded-20);
}

*[data-ctheme='three'] {
  --content-color-main: var(--color-three);
  --content-color-faded: var(--color-three-faded-20);
}

*[data-ctheme='four'] {
  --content-color-main: var(--color-four);
  --content-color-faded: var(--color-four-faded-20);
}
